

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


body{
	font-family: Arial, Helvetica, sans-serif;
	color: #2a444c;
	}
	
h1{
	font-size: 50px;
	font-family: Lobster;
	line-height: 35px;
	color: #436570;
	}
	
hr{
	border-top: 1.5px solid #F18FAE;
	margin: 0;
	}
	
h2{
	font-size: 18px;
	line-height: 25px;
	color: #5b7d87;
	}
	
a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: none;
	}
	
a:link{
	color: #A5243D;
	text-decoration: underline;
	}
	
a:visited{
	color: #B48291;
	}
	
a:hover{
	color: #AFAAB9;
	font-weight: bold;
	}
	
a:active{
	color: #8c22328;
	text-decoration: none;
	}
		
	

	
